.clearfix::after {
    display: block;
    visibility: hidden;
    content: "";
    clear: both;
    height: 0;
}

.position-relative{
  position:relative;
}

.float-left{
    float:left;
}

.float-right{
    float:right;
}

///// size utils

.h-100{
  height:100%;
}

.w-100{
  width:100%;
}

.w-1\/2{
    width:50%;
}

.h-40{
    height:40px;
}

.mt-10{
  margin-top:10px;
}

.ml-20{
  margin-left:20px;
}

.ml-30{
  margin-left:30px;
}


.fill-container{ 
    display: inline-block;
    width: 100%;
    height: 100%;
}

/////// flex utils

.flex-container {
  display: flex;
}

.position-absolute{
  position:absolute !important;
}

//////// text utils
.font-bold{
  font-weight: bold;
}

.font-regular{
  font-weight:normal;
}

.text-uppercase{
  text-transform: uppercase;
}

.font-size-45{
  font-size: 45px !important;
}

.hide-long-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin hide-long-text($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@for $i from 4 through 12 {
  .hide-long-text-#{$i} {
    @include hide-long-text($i);
  }
}

//////// graphics utils
.inner-shadow-top{
    &:before {
      content: "";
      position: absolute;
      top: 0px;
      width: 100%;
      height: 25%;
      pointer-events: none;
      z-index: 99;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  }
}

.inner-shadow-right{
    &:before {
      content: "";
      position: absolute;
      top: 0px;
      right:0;
      width: 25%;
      height: 100%;
      pointer-events: none;
      z-index: 99;
      background: linear-gradient(-90deg, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  }
}

.inner-shadow-left{
    &:before {
      content: "";
      position: absolute;
      top: 0px;
      left:0;
      width: 25%;
      height: 100%;
      pointer-events: none;
      z-index: 99;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  }
}



//////// sanity specific
.has-portable-text p{
  min-height: 12px;
  width: 100%;
}

.object-cover
 {
    object-fit: cover;
}

.object-contain
 {
    object-fit: contain;
}


//////// mobile
.is-mobile{
  .hide-on-mobile{
    display:none !important;
  }
}

.hide-on-desktop{
    display:none !important;
  }
.is-mobile{
  .hide-on-desktop{
    display:initial !important;
  }
}
