
@import '_modern-normalize';
@import '_nav';

@import '_utils';
@import '_inputs';
@import '_buttons';


html{
  height:100%;
  width:100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-poppins);
  height:100%;
  width:100%;
}


.font-safiro {
  font-family: var(--font-lora);
}

.font-default {
  font-family: Arial, sans-serif;
}

body.city-is-sibiu{
  .diff-sibiu-valcea{

    color:#CEFB08;
    border-color: #CEFB08 !important;
    
    &.diff-background{
      background-color:#CEFB08;
    }

    &:after, &:before{
      border-color: #CEFB08;
    }
  }
}

body.city-is-valcea{
  .diff-sibiu-valcea{
      color:#ff0db9;
      border-color: #ff0db9 !important;
    
    &.diff-background{
      background-color:#ff0db9;
    }

    &:after, &:before{
      border-color: #ff0db9;
    }
  }
}


body.still-loading{
  .hide-while-still-loading{
    opacity:0 !important;
    
  }
}

.hide-while-still-loading{
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
