#nsc--sibiu-valcea-event{

   section.swiper-section-similar-projects{ height:400px; width:100%; float:left}

   @media (max-width: 768px) {
      section.swiper-section-similar-projects{ height:auto;}
   }


}