.nsc--page-scan{
    height:100%;
    position: relative;

    .layout-container{

        width:300px;
        margin:0 auto;
        padding-top: 50px;

            #objective-select{
            border: 2px solid #000;
            width:300px;
            height:40px;
        }

        #qr-reader{
            // border: 2px solid #000;
        }

        span.scan-status{
            // display:none;
            opacity: 0;
            transition: opacity 0.35s ease;
            border-left: 6px solid transparent;
            margin-top: 30px;
            padding: 10px;
            color:#000 !important;

            &.qr-validated {
                opacity: 1;
                display:block;
                border-color: #000000;
                background:#ffffff;
                .scan-result{
                font-weight: regular;
            }}

            &.qr-invalid,
            &.qr-valid-objective-not-added,
            &.qr-valid-sanity-error{
                border-color: #ff7531;
                background:#ffc399;
                opacity: 1;
                display:block;
                .scan-result{
                    font-weight: bold;
                }
            }
        }
    }

}