.nsc--page-signup{

  position:relative;
  float:left;
  width:100%;

  .cover .page-title{
    font-size:100px;
    line-height:110%;
    bottom:-19px;
    letter-spacing: 4px;
    max-width:880px;
  }

  .layout-container{padding: 0px;}

    @media (max-width: 900px) {  .cover {height: 65vh; .page-title{ font-size: 70px; bottom: -13px;} }}
    @media (max-width: 600px) {  .cover .page-title{ font-size: 50px; bottom: -9px; letter-spacing: 0px;} }
    @media (max-width: 420px) {  .cover .page-title{ font-size: 35px; bottom: -7px;} }
  

}