

.nsc--signup-form{


         input, textarea{

            border: 2px solid #CEFB08;
            background: #ffffffb2;
            border-radius:8px;
            height:50px;
            width:100%;
            padding:12px;
         }

         input{ color: #000 !important; border-color: #000 !important;}

         input[type='checkbox']{
            width:30px;
            height:30px;
            cursor:pointer;
         }
         
         .validation-summary{
            background-color:#ff9999;
            background-color:#ffc399;
            border-left: 6px solid #ff5151;
            border-left: 6px solid #ff7531;;
            padding:20px;
            .input-validation{color: #000;}
         }

         .input-validation-error{
            border-color:#ff7531 !important;
            background-color:#fff1e7;
         }

         .input-validation{
            color:#ff5400;
            padding-left:20px;
            margin-top: 10px;
            margin-bottom:0px;
         }
         

}