.page-container{
  position:relative;
  float:left;
  width:100%;
  
  
:global{
    section.swiper-section{
      float:left;
      position:relative;
      
      height: 400px;
      width: 100%;
      margin-top:10px;

      @media (max-width: 768px) {
          height: auto;

      }

      section.mission-section{
        float:left;
      }


    }
  
    }

}