
.mission-section{
  width:100%;
  height: 420px;
  overflow: hidden;
  float:left;
  margin-top:30px;
  margin-bottom:30px;

  :global{
  .col{
    position:relative;
    width:36%;
    height:100%;
    float:left;
    text-align: justify;
    text-justify: inter-word;

    &.col-1{
      padding-left: 1%;
    }

    &.col-2{
      width:22%;
      margin-left:3%;
      margin-right:3%; //28%
    }

    &.col-3{
      padding-right: 1%;
    }

  }
    
    
  }
}