
.team-container{
  height:100%;
  width:100%;

  :global{

    .col-title{
      float:left;
      position:relative;
      width:30%;
      height:100%;
      margin-left:5%;
    }

    .col-members{
      width:65%;
      height:100%;
      float:left;
      .member{

          position:relative;
          width:200px;
          height:300px;
          margin:10px;
          float:left;

        .portrait{
          width:200px;
          height:200px;
          float:left;
          position:relative;
          width:100%;

          &.placeholder{
            width:160px;
            height:160px;
            margin:20px;
          }
          
          
        }

        .name{
          float:left;
          position:relative;
          font-weight: bold;
          font-size: 16px;
          width: 140%;
          left: -20%;
          text-align:center;
          margin: 12px 0;
        }

        .role{
          float:left;
          position:relative;
          font-size: 13px;
          width:100%;
          text-align:center;
        }

      }

      @media (max-width: 768px) {
          .col-members{

            .member{
              width: 200px;
              height: 300px;
            }
          }
      }
  }
  }
}