.nsc--page-archive{
  position:relative;
  float:left;
  width:100%;
  
    .layout-container{
      width:100%;
      max-width: 900px;
      margin: 0 auto;
      margin-top: 40px;

      .year-section{
        margin-bottom:60px;

        .title{
          font-size:80px;
          border-bottom: 4px solid #eee;
        }

        .section-title{
          margin-top: 50px;
        }

        .projects-list{
          .project-item{
            color:#000;
            display: flex;
            align-items: center;
            gap: 16px;
            margin-bottom: 14px;
            text-decoration: none;

            .project-image{
              width: 140px;
              height: 90px;
              position: relative;
              overflow: hidden;
              flex-shrink: 0;
            }

            .project-title{
              white-space: break-spaces;
              margin: 0;
              font-size: 24px;
            }

            .project-subtitle{
              font-size: 14px;
            }
          }
        }
      }
      
    }

    @media (max-width: 768px) {
      .layout-container .year-section .projects-list .project-item {
        
        gap: 12px;
        .project-image { width: 96px; height: 64px;}
        .project-title {font-size: 20px;}
      }
    }


  

}