.cover-section{
    background-size: cover;
    background-position: center;
    height: calc(100svh - 40px);
    width: 100%;
    position:relative;

    &::after{
        content:'';
        width:100%;
        height:100%;
        background-color: #000;
        background: radial-gradient(ellipse at center, #00000000 0%, rgb(0 0 0 / 17%) 0%, rgb(0 0 0 / 75%) 100%);
        position:absolute;
        z-index:0;
      }

 :global{

      .logo{
        width:185px;
        height:80px;
        position:absolute;
        z-index:9;

        top: 40px;
        left: 12%;
      }

    .event-title{
      position:absolute;
      text-align: center;
      font-weight: normal;
      z-index:1;
      margin:0;
      top:35%;
      font-size:180px;
      width:100%;
      cursor:default;
      pointer-events:none;
      text-shadow: 0px 0px 130px rgba(0, 0, 0, 0.5)

    }

    .event-date{
      position:absolute;
      text-align: center;
      font-weight: normal;
      z-index:1;
      margin:0;
      top:55%;
      font-size:80px;
      width:100%;
      cursor:default;
      pointer-events:none;
      text-shadow: 0px 0px 130px rgba(0, 0, 0, 0.5)

    }

    #main-actions{
      z-index: 9;
      position: absolute;
      float: left;
      bottom: 10%;
      width:100%;
      text-align: center;
      margin:0 auto;


      a.btn{
        display: inline-block;
        position:relative;
        margin: 0 10px;
        letter-spacing:2px;
        text-transform: uppercase;
        .svg-icon-map{
          top:8%;
          height:85%;
          width:30px;
          position: relative;
          left: 20px;
        }

        &:hover{
          .svg-icon-map{
            background-color: #000;
          }
        }
      }
    }


    @media (max-width: 1600px) {

      .logo{display:none;}
      .event-title{
        top:30%;
        font-size:150px;
       }

      .event-date{
        top:58%;
        font-size: 60px;
      }

    }

  @media (max-width: 1200px) {

      .logo{
        display:initial;
        top:35%;
        left:unset;
        width:100%;
        height: 120px;
      }

      .event-title{
        display:none;
      }

      .event-date{
        z-index:1;
        font-size:50px;
        top:65%;
        text-shadow: 0px 0px 60px rgb(0 0 0);
      }
  }

  @media (max-width: 768px) {

      .logo{
        height: 90px;
      }

      .event-date{
        top:unset;
        bottom:100px;
      }

      #main-actions{
        bottom: 40px;
        padding: 0 30px;

        a.btn{
          margin-top:10px;
          text-align: center;
          width: 180px;
          height: 40px;
          line-height: 36px;
          font-size:18px;


          &:first-of-type{margin-top:0;}
        }
      }
  }

  @media (max-width: 600px) { .event-date{ font-size:30px;} }

  @media (max-width: 460px) { .event-date{ bottom:150px;} }


  @media (max-width: 370px) { .event-date{ font-size:22px; text-shadow: 0px 0px 40px rgb(0 0 0); } }

 }
}
