.cover-section{
    background-size: cover;
    background-position: center;
    height: calc(100dvh - 40px);
    width: 100%;
    position:relative;

    &::after{
        content:'';
        width:100%;
        height:100%;
        background-color: #000;
        background: radial-gradient(ellipse at center, #00000000 0%, rgb(0 0 0 / 17%) 0%, rgb(0 0 0 / 75%) 100%);
        position:absolute;
        z-index:0;
      }

 :global{

      .logo{
        width:185px;
        height:80px;
        position:absolute;
        z-index:9;

        top: 40px;
        left: 12%;
      }

    .event-title{
      position:absolute;
      text-align: center;
      font-weight: normal;
      z-index:1;
      margin:0;
      top:35%;
      font-size:180px;
      width:100%;
      cursor:default;
      pointer-events:none;
      text-shadow: 0px 0px 130px rgba(0, 0, 0, 0.5)

    }

    .event-date{
      position:absolute;
      text-align: center;
      font-weight: normal;
      z-index:1;
      margin:0;
      top:55%;
      font-size:80px;
      width:100%;
      cursor:default;
      pointer-events:none;
      text-shadow: 0px 0px 130px rgba(0, 0, 0, 0.5)

    }

    #signup{
      z-index: 9;
      position: absolute;
      float: left;
      bottom: 10%;

      a.btn{
        position:relative;
        margin-left:auto;
        margin-right:auto;
        letter-spacing:2px;
      }
    }


    @media (max-width: 1600px) {

      .logo{display:none;}
      .event-title{
             font-size:150px;
       }

      .event-date{
        top:58%;
        font-size: 60px;
      }

    }

  @media (max-width: 1200px) {

      .logo{
        display:initial;
        top:35%;
        left:unset;
        width:100%;
        height: 120px;
      }

      .event-title{
        display:none;
      }

      .event-date{
        z-index:1;
        font-size:50px;
        top:65%;
        text-shadow: 0px 0px 60px rgb(0 0 0);
      }
  }

  @media (max-width: 768px) {

      .logo{
        height: 90px;
      }

      .event-date{
        font-size:30px;
        top:70%;
      }
  }

  @media (max-width: 540px) {

      .event-date{
        font-size:22px;
        text-shadow: 0px 0px 40px rgb(0 0 0);
      }
  }

 }
}
