.nsc--faq-section {
  margin-top:10px;
  float:left;
  width:100%;

    .faq-section {
      width: 100%;
      height: 80px;
      background: #000;
      overflow: hidden;
      float: left;
      padding-top: 25px;

      a.btn{

        width: 280px;
        margin:0 auto;
        text-transform: uppercase;
      }

      }
  
}
