#nsc--footer-section {
  float:left;
  width:100%;
  background: #000;

    .footer-section {
      width: 100%;
      max-width:1200px;
      margin: 0 auto;
      position:relative;
      background: #000;
      padding-top: 30px;
      padding-bottom: 30px;
      overflow:hidden;

      a.link{
        color:#fff;
        float:left;
        clear: both;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 30px;
        font-size:14px;
      }

      .col{
        
        float:left;
        padding-left: 60px;

        &.col-1{
          width: 44%;
          color:#fff;
          float:left;
          line-height: 20px;
          font-size: 14px;
          div{
            color:#fff;
            text-decoration: none;
          }
          
        }

        &.col-2{ width:28%;}
        &.col-3{ width:28%;}
      }
    

      @media (max-width: 1200px) {
          .col {
            &.col-1{ width:44%; font-size:16px;}
            &.col-2{ width:28%;}
            &.col-3{ width:28%;}
          }
      }

      @media (max-width: 768px) {

          .col {
            &.col-1{ width:100%; line-height: 24px; margin-bottom:30px}
            &.col-2{ width:50%;}
            &.col-3{ width:50%;}
          }
      }

      @media (max-width: 400px) {
        .col {
          padding-left: 30px;
        }
      }

    }
  
}
