.nsc--mission-section {
    .mission-section {
      width: 100%;
      height: 420px;
      overflow: hidden;
      float: left;
      margin-top: 30px;
      margin-bottom: 30px;

      
      .col {
        position: relative;
        width: 36%;
        height: 100%;
        float: left;
        text-align: justify;
        text-justify: inter-word;

        &.col-1 {
          padding-left: 3%;
        }

        &.col-2 {
          width: 22%;
          margin-left: 3%;
          margin-right: 3%; //28%
        }

        &.col-3 {
          padding-right: 3%;
        }
      }

        @media (max-width: 2400px) {
          height: 490px;
        }

  
        @media (max-width: 1800px) {
          height: 530px;
        }

        @media (max-width: 1600px) {
          height: 590px;
        }

        @media (max-width: 1400px) {
          height: 660px;
        }

        @media (max-width: 1200px) {
          height: 770px;
        }
     }

     @media (max-width: 768px) {
        .mission-section {
          height:auto;
          padding:30px;

        .col {
          width: 100% !important;
          padding:0;
          margin:0;

          &.col-2{
            height:360px;
            margin: 30px 0;
          }
        }
        }
      }
}
