.nsc--nav-sibiu-valcea{
  height:40px;
  position: relative;
  z-index: 99;

        a{
          text-decoration: unset;
          line-height: 40px;
          font-size:40px;
          text-align:center;
          font-weight: bold;
          color: #fff;
          text-shadow: 0px 0px 60px rgba(0, 0, 0, 0.6);

          &:hover{
            opacity:0.7;
          }
      }

      @media (max-width: 768px) {
          a{
              font-size:30px;
          }

      }
}