
.namespace-container{
    width:100%;
    overflow: hidden;
    float:left;
    position: relative;
    :global{

      .partner-section{
          position: relative;
          float:left;
          min-height:180px;
          width:100%;
          border-bottom:1px solid #000;
          color:black;
          padding: 0 10%;

          &:last-of-type{border:none;}

          .logo{
            float:left;
            width:100%;
            height:100%;
            position: relative;

            &.has-label:after{
                  content:attr(data-label);
                  position:absolute;
                  top:-30px;
                  color: #000000;
                  font-size:18px;
                  font-weight: 500;
                  letter-spacing: 2px;
                }

            @media (max-width: 960px) { &.has-label:after { font-size:14px; top:-30px; }}
          }
          
          &#parteneri{
            
            h2{
              font-size:18px;
              font-weight: 500;
              letter-spacing: 2px;
              text-transform: uppercase;
              width:100%;
              margin:20px 0;
            }

            .partner{
                float:left;
                height:80px;
                margin-right:40px;
                margin-bottom:20px;
                &:last-of-type{ margin-right:0px !important; }

            }

            @media (max-width: 960px) { 
              padding-top:20px;
              margin:0;
              h2{text-align:center; font-size: 14px; margin-bottom:20px }
              .size-container{ display:flex; justify-content: center; flex-wrap: wrap;}
                  
              .partner{ margin-right:30px; height:60px;  } }

            @media (max-width: 480px) { h2{ text-align:left; } } 
            

          }

          &#initiator{
            padding-top:60px;

            .partner-oar{
              float:left;
              width:50%;
              height:80px;
              width:200px;
              margin-left: 36px;
              width: 220px;
              &:first-of-type{margin-left:0;}
            }
            @media (max-width: 960px) { 
              padding-top: 70px;
              padding-left:0;
              padding-right:0;
              .size-container{  width:540px;   margin-left: calc(50% - 270px);} .partner-oar{height:60px; width: 160px; margin-left: 27px;} }
            
            @media (max-width: 580px) { .size-container{  transform: scale(0.9); }}
            @media (max-width: 480px) { padding-top: 40px; padding-bottom: 30px;

              .size-container{  margin-left:0; }
              
              // padding-left:20px;
              .partner-oar:nth-of-type(2){ margin-left:0; clear:both; margin-top:40px;}
              .partner-oar:nth-of-type(3){ margin-top:40px;}}

              
          }

      }
    
  }
}