
.nsc--see-map-section{
    height:100%;
    width:100%;
    float:left;
    overflow: hidden;
    container-type: inline-size;
    container-name: component;

      .see-map-section{
        position:relative;
        margin-top:0px;
        margin-bottom:0px;
        height:100%;
        width:100%;

        h6{
          font-size: 130px;
          line-height: 130px;
          position:absolute;
          margin:0;
          width:100%;
          text-align:center;
          text-transform: uppercase;
          color:#fff;
          z-index:1;
          margin:0;
          margin-top: 30px;
        }

      }

      .see-map-section.small-version{
        display:none;
        .btn-white{
          position: absolute;
          left: calc(50% - 100px);
          top: calc(50% - 25px);
          text-transform: uppercase;
        }
      
      
      }
      .see-map-section.large-version{
          .btn-white{
            position: absolute;
            left: calc(50% - 100px);
            bottom:40px;
            text-transform: uppercase;

          .svg-icon{ background-color:#fff;}
        }


      }

      @container component (max-width: 768px) {
        
          .see-map-section.small-version{display:inline-block;}
          .see-map-section.large-version{display:none;}
        
    }

}



