
.namespace-container{
    width:100%;
    float:left;
    
    // overflow: hidden;
    float:left;
    // margin-top:30px;
    // margin-bottom:30px;
    overflow: hidden;

    :global{
      .see-map-section{
        position:relative;
        margin-top:0px;
        margin-bottom:0px;
        height:500px;
        &:before{
            content:'';
            box-sizing: border-box;
            width:calc(100% + 10px);
            height:calc(100% + 10px);
            position:absolute;
            top:-5px;
            left:-5px;
            background: #000000;
            z-index:999;
            opacity:0;
            transition: opacity 0.15 step-end;
            pointer-events:none;
          }
        &:hover:before{
          opacity:0.05;

        }

        @media (max-width: 1200px) {
            height: 30vw;
          }

        @media (max-width: 768px) {

            // width:calc(100% + 48px);
            // left:-24px;
            // height: 40vw;
          }

          @media (max-width: 400px) {
            height: 160px;
          }


      }

    }
}