
.namespace-container{
    width:100%;
    float:left;
    overflow: hidden;

    :global{
      .see-map-section{
        position:relative;
        margin-top:0px;
        margin-bottom:0px;
        height:400px;

        h6{
          font-size: 130px;
          line-height: 130px;
          position:absolute;
          margin:0;
          width:100%;
          text-align:center;
          text-transform: uppercase;
          color:#fff;
          z-index:1;
          margin:0;
          margin-top: 30px;
        }

        .go-button{
          border: 6px solid #fff;
          background: #00000082;
          transform: rotate(180deg);
          bottom: 35px;
          height:90px;
          width:90px;
          position: absolute;
          left: calc(50% - 45px);
          padding: 8px;
          z-index:1;
          &:hover{background:#000;}

          .svg-icon{
            background-color:#fff;
          }
        }
        // button for mobile
        .btn-white.hide-on-desktop{
          position: absolute;
          left: calc(50% - 100px);
          top: calc(50% - 25px);
          text-transform: uppercase;
        }

        // button for desktop
        .btn-white.hide-on-mobile{
          position: absolute;
          left: calc(50% - 100px);
          bottom:40px;
          text-transform: uppercase;

          .svg-icon{ background-color:#fff;}
        }

          @media (max-width: 768px) {
            height: 220px;
          }


      }

    }
}