
.namespace-container{
    width:100%;
    
    overflow: hidden;
    float:left;
    margin-top:30px;
    margin-bottom:30px;

    :global{
      .see-map-section{
        height:500px;
      }

    }
}