
.namespace-container{
  height:100%;
  width:100%;
  overflow:hidden;

  :global{

    .col-members{overflow: hidden;}

    .team-section-container.mobile-version{

      height: auto !important;
      overflow:hidden;
      .col-title br{display:none;}
      .col-members .member{
              width:200px;
              height:300px;
              margin:0px 30px;
              float:left;
              color:#000;

              .member-image{
                  border-radius:50%;
                  position:relative;
                  width:100%;
                  height:200px;
                  overflow: hidden;
                  border-radius: 50%;
                }

              .name{
                float:left;
                position:relative;
                font-weight: bold;
                font-size: 16px;
                width: 140%;
                left: -20%;
                text-align:center;
                margin: 12px 0;
              }

              .role{
                float:left;
                position:relative;
                font-size: 13px;
                width:100%;
                text-align:center;
              }

      }


      @media (max-width: 768px) {

          .col-title{
            width:100%;
            height:auto;
            font-size: 150px;
            text-align:center;
            font-weight:bold;
            margin: 60px 0;
            overflow:hidden;

          }
          .col-members{
            width:100%;
            max-width:520px;
            margin:0 auto;
            position:relative;
          }
      }

      @media (max-width: 600px) { .col-title{font-size: 130px;} }

      @media (max-width: 520px) { //// ECHIPA -> ECH <br> IPA
        .col-title {br{display:initial} font-size: 180px; line-height:170px; .row-2{letter-spacing: 16px;}}
        .col-members{max-width: 440px; .member{margin:0px 10px;} }}

      @media (max-width: 440px) {.col-members{ max-width:220px;}}

      @media (max-width: 400px) {
          .col-title{font-size: 160px; line-height:150px;}
          .row-2{letter-spacing: 14px;}
      }

      @media (max-width: 340px) {
          .col-title{font-size: 130px; line-height:120px;}
          .row-2{letter-spacing: 12px;}
      }
    }
      
    .team-section-container.desktop-version{
      .col-title{
        float:left;
        position:relative;
        width:30%;
        height:100%;
        margin-left:5%;
      }

      .col-members{
        width:65%;
        max-width:1200px;
        height:100%;
        float:left;

        .member{
            position:relative;
            width:200px;
            height:300px;
            margin:0px 30px;
            float:left;
            color:#000;

          .member-image{
            border-radius:50%;
            position:relative;
            width:100%;
            height:200px;
            overflow: hidden;
            border-radius: 50%;
          }
          .portrait{
            float:left;
            position:relative;
            width:100%;
            
          }

          .name{
            float:left;
            position:relative;
            font-weight: bold;
            font-size: 16px;
            width: 140%;
            left: -20%;
            text-align:center;
            margin: 12px 0;
          }

          .role{
            float:left;
            position:relative;
            font-size: 13px;
            width:100%;
            text-align:center;
          }

        }
      }
      ///  size-5-8  ////////////////////////////////////////////////
      &.size-5-8 {
        height: 600px; 

        @media (max-width: 1800px) {
          .col-title{
            width:20%;
            margin-left:5%;
            margin-right:5%;
          }
          .col-members{ width:70%;}
        }

        @media (max-width: 1500px) {
          
          .col-members .member{margin:10px;}
        }

        @media (max-width: 1400px) {
          height: 500px;
          .col-title{ width:20%; margin-left:8%; margin-right:7%;}
            .col-members{
              width:65%;
              .member{ width: 165px;height: 247px;margin: 10px; 
                .member-image{height: 165px;}
              }
            }
        }

        @media (max-width: 1200px) {
          
          .col-title{
            width:20%;
            margin-left:5%;
            margin-right:5%;
          }
          .col-members{width:70%;}
        }

        @media (max-width: 1100px) {
          height: 450px;
          .col-members{

              .member{
                width: 135px;
                height: 203px;
                margin: 10px;
                .name{font-size:14px;}
                .role{font-size:11px;}
              }
              
            }
        }

      }
      ///  size-9-12  ////////////////////////////////////////////////
      &.size-9-12{
          height: 900px; 

           @media (max-width: 1600px){
              .col-title{margin-right:5%;}
              .col-members{ width:60%;}
           }


           @media (max-width: 1400px){
            height: 760px;
            .member{width: 165px; height: 247px; margin: 10px;
              .member-image{height: 165px;}
            }
          }

          @media (max-width: 1200px){
            .col-title{margin-left:10%;}
            .col-members{ width:55%;}
          }

          @media (max-width: 1100px){
            .col-title{margin-left:3%; margin-right:2%; width:35%;}
            .col-members{ width:60%;}
          }

          @media (max-width: 940px){
            .col-title{margin-left:3%; margin-right:2%; width:25%;}
            .col-members{ width:70%;}
          }
      }

    }
      
  }
}
