
.namespace-container{
  height:100%;
  width:100%;
  

  :global{

    .col-title{
      float:left;
      position:relative;
      width:30%;
      height:100%;
      margin-left:5%;
    }

    .col-members{
      width:65%;
      height:100%;
      float:left;

      .member{
          position:relative;
          width:200px;
          height:300px;
          margin:0px 30px;
          float:left;

        .portrait{
          float:left;
          position:relative;
          width:100%;

          &.placeholder{
            width:160px;
            height:160px;
            margin:20px;
          }
          
          
        }

        .name{
          float:left;
          position:relative;
          font-weight: bold;
          font-size: 16px;
          width: 140%;
          left: -20%;
          text-align:center;
          margin: 12px 0;
        }

        .role{
          float:left;
          position:relative;
          font-size: 13px;
          width:100%;
          text-align:center;
        }

      }
    }
      
  }
}

.namespace-container.size-5-8 { height: 600px; 

@media (max-width: 1400px) {height: 500px;}
@media (max-width: 1100px) {height: 450px;}
@media (max-width: 768px) {height: auto;}


:global{

      @media (max-width: 1800px) {
        .col-title{
          width:20%;
          margin-left:5%;
          margin-right:5%;
        }
        .col-members{ width:70%;}
      }

      @media (max-width: 1500px) {
        .col-title{  }
        .col-members .member{margin:10px;}
      }

      @media (max-width: 1400px) {
        .col-title{
          width:20%;
          margin-left:8%;
          margin-right:7%;
        }

          .col-members{
            width:65%;

            .member{
              width: 165px;
              height: 247px;
              margin: 10px;

              .portrait.placeholder{
                width: 120px;
                height: 120px;
              }
            }
            
          }
      }

      @media (max-width: 1200px) {
        
        .col-title{
          width:20%;
          margin-left:5%;
          margin-right:5%;
        }
        .col-members{width:70%;}
      }

      @media (max-width: 1100px) {
        
        .col-members{

            .member{
              width: 135px;
              height: 203px;
              margin: 10px;
              .name{font-size:14px;}
              .role{font-size:11px;}

              .portrait.placeholder{
                width: 94px;
                height: 94px;
              }
            }
            
          }
      }

      @media (max-width: 768px) {

          .col-title{
            width:100%;
            height:auto;
            font-size: 150px;
            text-align:center;
            font-weight:bold;
            margin: 60px 0;
            overflow:hidden;

          }
          .col-members{
            width:100%;
            max-width:520px;
            margin:0 auto;
            left: calc(50% - 260px);
            position:relative;
            .member{
              width:200px;
              height:300px;
              margin:0px 30px;

              .portrait.placeholder{
                width:160px;
                height:160px;
                margin:20px;
              }
              .name{ font-size: 16px;}
              .role{font-size: 13px;}
            }
          }
      }

      @media (max-width: 600px) { .col-title{font-size: 130px;} }

      @media (max-width: 520px) {
          .col-title{font-size: 130px;}
          .col-members{
              max-width: 260px;
              left: calc(50% - 130px);
          }

      }

      @media (max-width: 480px) {
          .col-title{font-size: 180px; line-height:170px;}
          .row-2{letter-spacing: 16px;}
      }

      @media (max-width: 400px) {
          .col-title{font-size: 160px; line-height:150px;}
          .row-2{letter-spacing: 14px;}
      }
  }
    
}.namespace-container.size-9-12 { height: 900px; 
@media (max-width: 1400px) {height: 760px;}

:global{

    .col-members{ max-width: 1040px; }

      @media (max-width: 1400px){

            .member{
              width: 165px;
              height: 247px;
              margin: 10px;

              .portrait.placeholder{
                width: 120px;
                height: 120px;
              }
            }
            
          }

        }
}