.namespace-container{
  position:relative;
  float:left;
  width:100%;
  
  
  :global{
    .cover-image{
      width:100%;
      height:70vh;
      position:relative;
    }

    .layout-container{
      width:100%;

    }

  }

}