.namespace-container{
  height:100%;
  width:100%;

   :global{
    div.section{
        width:50%;
        height: 100%;
        height: 100dvh;
        float:left;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        img{ z-index:-1;}

        .logos{
          position:relative;
          width: 330px;
          top:15%;
          margin: 0 auto;
          .oar{
            float:left;
              width:160px;
              height:60px;
              background-repeat: no-repeat;
              background-position: center;
              background-size:contain;

          }
          .timbru{
            margin-left:50px;
             float:left;
              width:100px;
              height:60px;
              background-repeat: no-repeat;
              background-position: center;
              background-size:contain;
          }

          .has-label:after{
                content:attr(data-label);
                position:absolute;
                top:-30px;
                color: #fff;
                font-size:15px;
              }

        }

        .title{
            display:block;
            width:330px;
            height:160px;
            margin: 0 auto;
            top:40%;
            position:relative;
            background-repeat: no-repeat;
            background-position: center;
            background-size:contain;

        }

        .download-pdf{
          color:#fff;
          font-size:30px;
          line-height:50px;
          text-decoration: none;
          text-transform: lowercase;
          position:relative;
          position:absolute;
          bottom:50px;
          width:300px;
          margin:0 auto;
          margin-left: calc(50% - 150px);
          

          &:hover{
            text-decoration: underline;
          }

          span.svg-icon-pdf-file{
            background-color: rgb(255 255 255);
            float:left;
            color:inherit;
            height:50px;
            width:50px;
            display:none;
          }
        }

    }

    @media (max-width: 768px) {
      div.section{
        width:100%;
        height: 50%;
        height: 50dvh;

        &.section-sibiu{
          border-bottom: 1px solid #fff;

          .download-pdf{
            border: 2px solid #fff;
            border-radius: 20px;
            padding: 0 10px;
            background: #00000069;
            bottom:10px;
          }
        }
        &.section-valcea{
          border-top: 1px solid #fff;
        }

        .oar{
            width:120px;
            height:45px;
            margin: 0 auto;
            top:15%;
        }

        .logos{
          position:relative;
          width: 100%;
          top:0;
          margin: 0 auto;
          padding: 15px 30px;
          padding-bottom:5px;
          border-bottom: 2px solid #fff;
          background: rgb(0 0 0 / 60%);

          .oar{
              width:120px;
              height:60px;

          }
          .timbru{
              width:80px;
              height:60px;
          }

          .has-label:after{
                top:5px;
                font-size:10px;
              }

        }

        .title{
            width: 150px;
            height: 110px;
            margin: 0 auto;
            top:24%;

        }

        .download-pdf{
          position:absolute;
          bottom:0px;
          right:0;
          font-size:14px;
          line-height:30px;
           width: auto;
           margin-right: 10px;
           text-decoration: underline;

          span.svg-icon-pdf-file{
           
            height:30px;
            width:30px;
          }
        }

      }


    }


   }
   

}
