

.nsc--contact-form{

 section.contact-section{
      position:relative;
      float:left;
      width:100%;
      overflow:hidden;

      &:after{
      content:'';
      height:100%;
      width:100%;
      position:absolute;
      top:0;
      left:0;
      background-color: #000;
      opacity:0.6;
      z-index:0;
      }
    


      .contact-form{
         width: 100%;
         position:relative;
         z-index:1;
         padding:100px 0;

         width:60%;
         margin-left:20%;

      @media (max-width: 768px) {
         width:100%;
         margin-left:0;
         padding:100px 20px;
      }

      input, textarea{

         border: 2px solid #CEFB08;
         background: #ffffffb2;
         border-radius:8px;
         height:50px;
         width:100%;
         padding:12px;
      }

      .form-group.name{
         width:45%;
         float:left;
      }

      .form-group.address{
         width:45%;
         float:right;
      }

      .form-group.architectural-function{
            width:100%;
            float:left;
            clear:both;
            margin-top:40px;

            label{
               width:auto;
               margin-right:30px;
               position:relative;
               // padding-left:30px;
               float:left;
            
               input[type='checkbox']{
                  width:20px;
                  height:20px;
                  margin-top:5px;
                  margin-right:12px;
                  float:left;
                  cursor:pointer;
               }
               span{
                  float:left;
                  line-height: 30px;
                  color:#fff;
                  font-weight: 700;
               }
            }
         
      }

      .form-group.details{
            width:100%;
            float:left;
            clear:both;
            margin-top:20px;

            textarea{height:200px;}
         
      }
      div#submit{
         float:left;
         margin-top:30px;
         position:relative;
         button[type='submit']{
            
             margin:0 auto;
             width:160px;
             height:50px;
             border-radius:25px;
             text-transform: uppercase;
             font-size:20px;
           
         }

         div.success{
            float:left;
            color:#fff;
            font-size:30px;
            font-weight:600;
            width:100%;
            text-align: center;
            margin-top: 20px;
            position: absolute;
            
         }
      }


      @media (max-width: 1200px) {
            .form-group{
               width:100% !important;
               float:left;
               margin-bottom:20px;

               input,textarea{
                  width:100%;
               }
            }

            .form-group.architectural-function label{ 
               width:100%;
               margin-left: 30px;
               margin-right: 0px;
            }

            div#submit div.success{
               font-size:24px;     
            }

      }
      }
   }
 

}
