.page-container{
  position:relative;
  float:left;
  width:100%;
  overflow-y:hidden;
  
  
:global{

  .section-title-on-mobile{
    position:relative;
    line-height:100px;
    float:left;
    width:100%;
    font-size:50px;
    font-weight: bold;
    text-align: center;
    color: #000 !important;
    text-transform: uppercase;
    margin-top:10px;
    overflow:hidden;

    @media (max-width: 320x) {
        font-size:40px;
    }
  }

   .event-title-on-mobile{
    position:relative;
    line-height:100px;
    float:left;
    width:100%;
    font-weight: bold;
    text-align: center;
    background: #000;
    text-transform: uppercase;
    overflow:hidden;
    font-size:50px;

    @media (max-width: 320x) { font-size:40px;}

    &.event-title-guided-tours{
      @media (max-width: 480px) {font-size:40px;}
      @media (max-width: 360px) {font-size:34px;}
      @media (max-width: 320px) {font-size:30px;}
    }


    &.event-title-kids-workshop{
      font-size:60px;
      @media (max-width: 640px) {font-size:55px;}
      @media (max-width: 580px) {font-size:50px;}
      @media (max-width: 520px) {font-size:45px;}
      @media (max-width: 480px) {font-size:40px;}
      @media (max-width: 420px) {font-size:35px;}
      @media (max-width: 360px) {font-size:30px;}
      @media (max-width: 320px) {font-size:27px;}
    }
  }

  .see-map-container{
    height: 400px;
    @media (max-width: 768px) {height: 220px;}
  }


  section{
    position:relative;
  }

  section.swiper-section{
    float:left;
    position:relative;
    text-align: center;
    height: 400px;
    width: 100%;
    margin-top:10px;

    &#tours-section{
      height:auto;
    }

    @media (max-width: 1200px) {
        width: 200%;
    }

    @media (max-width: 768px) {
        height: auto;
        width: 100%;
    }

  }

  section.mission-section{
      float:left;
    }

  }

}