
.section-names-input{
    width:100%;
    
    overflow: hidden;
    float:left;
    margin-bottom:30px !important;
    flex-direction: column !important;

        .label-large{
            margin-top:50px;
            font-size:18px;
        }


        .box{
          margin-top:20px;

          .label{
                text-transform:none;
                height: 14px;
                font-size:12px;
          }

           input, select{
            height:35px;
            border: 1px solid #e3e4e8;
            outline:none;
            padding:6px 12px;
            width:100%;

            &:hover{
                box-shadow: inset 0 0 0 1px #bbbdc9;

            }

            &:focus{
              box-shadow: inset 0 0 0 1px #556bfc;
              }

          }
        }

}