.nsc--page-faq{
  position:relative;
  float:left;
  width:100%;
  
    .cover{
      width:100%;
      height:70vh;
      position:relative;

      .cover-image{
        width:100%;
        height:100%;
        position:relative;

        width:  calc(50% + 450px);
        margin-left: calc(50% - 450px);

      }

      .page-title{
        font-weight: bold;
        font-size: 400px;
        position: absolute;
        bottom:-84px;
        left: 0;
        letter-spacing: 20px;
        padding-left:50px;
      }
    }

    .layout-container{
      width:100%;
      margin-top: 40px;
    }

    @media (max-width: 1800px) {  .cover .page-title{ font-size: 300px; bottom: -62px;} }
    @media (max-width: 900px) {  .cover .page-title{ font-size: 200px; bottom: -42px; width:100%; padding-left:30px; } }
    @media (max-width: 500px) {  .cover .page-title{ font-size: 130px; bottom: -27px; width:100%; padding-left:30px; } }
    @media (max-width: 400px) {  .cover .page-title{ font-size: 100px; bottom: -21px; width:100%; padding-left:30px;} }
  

}