.namespace-container{
  position:relative;
  float:left;
  width:100%;
  
  
  :global{

    .faq-item{
      cursor:pointer;
      padding:30px;
      border-bottom:1px solid #000;
      &:hover{
          // background:#000;
          // color:#fff;
        }

      h3.question{
        width:100%;
        position:relative;
        line-height: 30px;
        padding:10px;
        max-width:900px;
        margin: 0 auto;

          &:after {
            content: "";
            color:inherit;
            position: absolute;
            transform: rotate(-45deg);
            border-style: solid;
            border-width: 0 4px 4px 0;
            display: inline-block;
            padding: 4px;
            top: 15px;
            right: 0px;
        }
        
      }

      .answer{
        width:100%;
        display:none;
        padding:0 10px;
        max-width:900px;
        margin: 0 auto;
        text-align: justify;

      }

      &.open {
        .question:after{
          transform: rotate(45deg);
        }
        
        .answer{
          display:block;
        }
      }

  }



  }

}