#nsc--social-media-section{

  position:absolute;
  right:10px;
  top:30px;
  z-index: 8;
  
   .social-media-section{
      

      .social-icon{
        float: left;
        display: block;
        width:40px;
        height:40px;
        padding: 5px;
        position:relative;
        margin-right:10px;

        &:hover{
            background: rgba(0, 0, 0, 0.664);
        }
        svg{
          width:100%;
          height:100%;
        }
      }
    }

  @media (max-width: 768px) {
    top:20px;

        .social-icon{
          width:50px;
          height:50px;
        }
  }

}


#nsc--social-media-section.in-footer{
  position:relative;
  z-index:0;
  top:10px;
  svg{  color: #fff; }

}